<div *ngIf='type==1' class="audioOne">
    <audio [src]="audiosrc" controls [preload]="preload" [loop]='loop' [autoplay]="autoplay" #audioElement (loadedmetadata)="getDuration()" (canplaythrough)="canPlay()" (error)="audioError()" (timeupdate)='currentTimeChange()' (ended)="end()"></audio>
    <div class='audioWrap'>
        <div class="handleButton" (click)="handleButton()">
            <span class="loading" *ngIf="audioStatus=='loading'" ></span>
            <span class="error" *ngIf="audioStatus=='error'"></span>
            <span class="play" *ngIf="audioStatus=='playing'"></span>
            <span class="pause" *ngIf="audioStatus=='noload'||audioStatus=='pause'"></span>
        </div>
        <div class="progress">
            <div class="bar_bg" (click)="changeCurrent()" #progressBar>
                <div class="currentBar" [style.width]="progross"></div>
                <div class="barCircle" [style.left]="progross"></div>
            </div>
            <div class="audioTime">
                <div class="currentTime">{{currentTime*1000|date:"mm:ss"}}</div>
                <div class="allTime">{{allTime*1000|date:"mm:ss"}}</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf='type==2' class="audioTwo">
    <audio [src]="audiosrc" controls [preload]="preload" [loop]='loop' [autoplay]="autoplay" #audioElement (loadedmetadata)="getDuration()" (canplaythrough)="canPlay()" (error)="audioError()" (timeupdate)='currentTimeChange()' (ended)="end()"></audio>
    <div [class]='bgColor' (click)="handleButton()">
        <div class="voiceArrow"></div>
        <div class="voiceMain">
            <span class="message">{{message}}</span>
            <span class="voice" [class.speak]="voiceOn"></span>
        </div>
    </div>
</div>

<div *ngIf='type==3' class="audioThree">
    <audio [src]="audiosrc" controls [preload]="preload" [loop]='loop' [autoplay]="autoplay" #audioElement (loadedmetadata)="getDuration()" (canplaythrough)="canPlay()" (error)="audioError()" (timeupdate)='currentTimeChange()' (ended)="end()"></audio>
    <div (click)="handleButton()">
        <div class="voiceArrow"></div>
        <div class="voiceMain" [style.width]="allTime*scale+'px'">
            <span class="message">{{message}}</span>
            <span class="voice" [class.speak]="voiceOn"></span>
            <div class="voiceOn" *ngIf='firstLload'></div>
        </div>
    </div>
</div>